html,body{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
#display{
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 60%);
    color: white;
    overflow-x: scroll;
    overflow-y: scroll;
}
#display * {
    display: inline;
}
.imgA{
    width: 25%;
    height: 30%;
}